.elementor-4318 .elementor-element.elementor-element-736f5d0:not(.elementor-motion-effects-element-type-background), .elementor-4318 .elementor-element.elementor-element-736f5d0 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#00000000;}.elementor-4318 .elementor-element.elementor-element-736f5d0{border-style:groove;border-width:2px 2px 2px 2px;border-color:#FFFFFF;box-shadow:0px 0px 10px 0px rgba(215, 215, 215, 0.35);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-4318 .elementor-element.elementor-element-736f5d0, .elementor-4318 .elementor-element.elementor-element-736f5d0 > .elementor-background-overlay{border-radius:20px 20px 20px 20px;}.elementor-4318 .elementor-element.elementor-element-736f5d0 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-4318 .elementor-element.elementor-element-18a623b:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-4318 .elementor-element.elementor-element-18a623b > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000F0;}.elementor-4318 .elementor-element.elementor-element-18a623b > .elementor-element-populated, .elementor-4318 .elementor-element.elementor-element-18a623b > .elementor-element-populated > .elementor-background-overlay, .elementor-4318 .elementor-element.elementor-element-18a623b > .elementor-background-slideshow{border-radius:0px 0px 0px 0px;}.elementor-4318 .elementor-element.elementor-element-18a623b > .elementor-element-populated{box-shadow:0px 0px 10px 0px rgba(215, 215, 215, 0.35);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-4318 .elementor-element.elementor-element-18a623b > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-4318 .elementor-element.elementor-element-07b084f{text-align:center;}.elementor-4318 .elementor-element.elementor-element-07b084f .elementor-heading-title{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:25px;font-weight:600;}.elementor-4318 .elementor-element.elementor-element-07b084f > .elementor-widget-container{margin:7px 0px 0px 0px;}.elementor-4318 .elementor-element.elementor-element-0b5f2f1 > .elementor-widget-container{margin:-11px -11px -11px -11px;}.elementor-4318 .elementor-element.elementor-element-da172f4 .elementor-button .elementor-align-icon-right{margin-left:0px;}.elementor-4318 .elementor-element.elementor-element-da172f4 .elementor-button .elementor-align-icon-left{margin-right:0px;}.elementor-4318 .elementor-element.elementor-element-da172f4 .elementor-button{font-family:"Poppins", Sans-serif;font-size:25px;font-weight:700;line-height:1.2em;letter-spacing:0px;text-shadow:0px 0px 10px rgba(18.98512632318529, 210.00241133745976, 24.98566930792692, 0);fill:#FFFFFF;color:#FFFFFF;background-color:#001A1B;border-style:solid;border-width:2px 2px 2px 2px;border-color:#A5FBC8;border-radius:6px 6px 6px 6px;box-shadow:-1px 0px 13px 5px rgba(0, 194.0000000000001, 203.00000000000003, 0.19);padding:20px 20px 20px 20px;}.elementor-4318 .elementor-element.elementor-element-da172f4 > .elementor-widget-container{margin:-29px 0px 0px 0px;}#elementor-popup-modal-4318 .dialog-message{width:640px;height:auto;}#elementor-popup-modal-4318{justify-content:center;align-items:center;pointer-events:all;background-color:rgba(0,0,0,.8);}#elementor-popup-modal-4318 .dialog-close-button{display:flex;}#elementor-popup-modal-4318 .dialog-widget-content{box-shadow:2px 8px 23px 3px rgba(0,0,0,0.2);}@media(max-width:767px){.elementor-4318 .elementor-element.elementor-element-07b084f .elementor-heading-title{font-size:20px;}.elementor-4318 .elementor-element.elementor-element-07b084f > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-4318 .elementor-element.elementor-element-0b5f2f1 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-4318 .elementor-element.elementor-element-da172f4 .elementor-button{font-size:20px;line-height:1.1em;letter-spacing:1.3px;word-spacing:0.1em;border-width:2px 2px 2px 2px;padding:11px 11px 11px 11px;}.elementor-4318 .elementor-element.elementor-element-da172f4 > .elementor-widget-container{margin:-37px 0px 17px 0px;padding:0px 0px 14px 0px;}}/* Start custom CSS for html, class: .elementor-element-0b5f2f1 */* {
  margin: 0;
  padding: 0;
}

body {
  font-family: montserrat;
  COLOR: white;
}

.wrapper {
  padding: 15px;
  font-size: 25px;
  font-weight: 500;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.form-group label {
  padding-left: 10px;
  cursor: pointer;
}

.radio, .checkbox {
  cursor: pointer;
  appearance: none;
  width: 30px;
  height: 30px;
  border: 3px solid #0BE600;
  border-radius: 50%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  outline: none;
}

.checkbox {
  border-radius: 0;
}

.radio:before, .checkbox:before {
  content: '';
  width: 15px;
  height: 15px;
  background: #0BE600;
  border-radius: 50%;
  opacity: 0;
  transition: all 600ms ease-in-out;
  position: absolute;
}

.checkbox:before {
  border-radius: 0;
  background: transparent;
  border: 4px solid #61FFB3;
  border-left: 0;
  border-top: 0;
  width: 7px;
  height: 12px;
  transform: rotate(45deg);
  top: 2px;
}

.radio:checked:before, .checkbox:checked:before {
  opacity: 1;
}

.radio:focus, .checkbox:focus {
  box-shadow: 0 0 5px #0BE600;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-da172f4 */#botao_pulse {
  -webkit-animation: pulse 1.5s infinite;
}/* End custom CSS */