body,html{padding:0;margin:0;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif}a{color:inherit;text-decoration:none}*{box-sizing:border-box}
/*
     FILE ARCHIVED ON 00:30:25 Nov 22, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:19:39 Feb 17, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.115
  exclusion.robots.policy: 0.1
  cdx.remote: 0.136
  esindex: 0.013
  LoadShardBlock: 642.973 (6)
  PetaboxLoader3.datanode: 333.499 (8)
  load_resource: 220.212
  PetaboxLoader3.resolve: 63.533
  loaddict: 79.647
*/